header {
  max-width: 1245px;
  background-color: #e1c699;
  .headerContainer {
    display: flex;
    .headerLogo {
      font-weight: 400;
      text-shadow: 5px -5px #ddd;

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

@media (max-width: 600px) {
  header {
    .headerContainer {
      padding: 10px;
      .headerLogo {
        font-size: 28px;
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 999px) {
  header {
    .headerContainer {
      padding: 17px;
    }
  }
}

@media (min-width: 1000px) {
  header {
    max-width: 100%;
    .headerContainer {
      padding: 25px;
    }
  }
}
