header {
  background-color: #e1c699;
  & .headerContainer {
    display: flex;
    padding: 10px 10px 10px 20px;
    & .headerLogo {
      font-weight: 400;
      color: #fff;
      text-shadow: 5px -5px #ddd;
    }
  }
}
