// Fix do pq de ele estar a fazer crescer o recipe container tbm

.recipeModalContainer {
  width: 500px;
  border: 1px solid red;
  background-color: lightsalmon;
  .recipeModalContent {
    border: 1px solid green;
    text-align: center;
  }

  position: fixed;
  top: 50px;
  height: 50px;

  /* 
 common styles for idle and exit as we use the same transitions 
 for enter and exit
 */
  &.idle,
  &.exit {
    opacity: 0;
    width: 20%;
  }

  /* styles to apply on enter state */
  &.enter {
    transition: opacity 300ms linear, width 300ms ease-in;
    opacity: 1;
    width: 100%;
  }

  /* styles to apply on exit state */
  &.exit {
    transition: opacity 300ms linear, width 300ms ease-out;
  }
}

.recipeContainer {
  margin: 50px;
  background-color: #ebd18f;
  box-shadow: 7px 16px lightsalmon;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  display: grid;

  & .recipeTitle {
    color: lightcoral;
    font-weight: 400;
    margin-bottom: 25px;
  }

  & .recipeImgNIng {
    border-style: dotted;
    border-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-bottom: 15px;

    & .ingredientsContainer {
      & .ingredientsList {
        & .ingredientsItem {
          font-style: italic;
        }
      }
    }

    & .recipeImage {
      max-width: 100%;
      border-radius: 5px;
    }
  }
  & .recipeNotes {
    font-style: italic;
    margin-bottom: 10px;
  }

  & .recipeBtnContainer {
    & .recipeBtn {
      border: dashed;
      border-color: lightcoral;
      background-color: lightpink;
      border-radius: 5px;
      cursor: pointer;
      padding: 10px;

      & a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}
