.recipeContainer {
  margin: 50px;
  background-color: #ebd18f;
  box-shadow: 7px 16px lightsalmon;
  border-radius: 5px;
  text-align: center;
  padding: 15px;
  display: grid;

  & .recipeTitle {
    color: lightcoral;
    font-weight: 400;
    margin-bottom: 25px;
  }

  & .recipeImgNIng {
    border-style: dotted;
    border-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-bottom: 15px;

    & .ingredientsContainer {
      & .ingredientsList {
        & .ingredientsItem {
          font-style: italic;
        }
      }
    }

    & .recipeImage {
      max-width: 100%;
      border-radius: 5px;
    }
  }
  & .recipeNotes {
    font-style: italic;
    margin-bottom: 10px;
  }

  & .recipeBtnContainer {
    & .recipeBtn {
      color: #fff;
      font-weight: bold;
      border: dashed;
      border-color: lightcoral;
      background-color: lightpink;
      border-radius: 5px;
      padding: 0;
      cursor: pointer;
      padding: 10px;
    }
  }
}
